/**
* -----------------------------------------
* REFERENCE COLORS:
* (in order from lightest to darkest)
*
* #e7eae8: Extremely light gray, used for alternating color boxes such as on mailinglists.html
* #d7dad8: Medium gray, used in Dropotron
* #666: Dark gray, official PostgreSQL gray color and equivalent to RGB(102,102,102)
* #688297: Grayish blue, used in Dropotron
* #336791: Medium blue, official PostgreSQL blue color
* #264d6d: Dark blue
*
* -----------------------------------------
* All padding: 0 0 0 0; and margin: 0 0 0 0; definitions are top, right, bottom, left specifications, respectively.
*/

/** CUSTOM FONTS */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

/** GLOBAL CONFIGURATION */
body {
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #666;
    font-size: 11.5pt;
    line-height: 2em;
    padding-top: 60px; /** this is to account for the fixed navbar blocking content */
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 700;
    text-transform: uppercase;
    color: #666;
    /*margin: 0 0 0.5em 0;*/
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

h2.major {
		font-size: 1.65em;
		text-align: center;
		margin: 0 0 3em 0;
    position: relative;
    border-top: solid 5px #e7eae8;
}

h2.major span {
		top: -0.775em;
		padding: 0 1.5em 1.5em 1.5em;
    background: #fff;
    position: relative;
    display: inline-block;
    font-family: 'Roboto Condensed', sans-serif !important;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	  text-decoration: none;
	  color: inherit;
}

/* #NO-MARGIN */

h2.major.no-margin, h3.major.no-margin {
	  margin: 4em 0 0 0;
	  text-align: center;
}

h3.major {
	  position: relative;
	  border-top: solid 5px #e7eae8;
    text-align: left;
    margin: 0 0 1em 0;
}

h3.major span {
  	background: #fff;
  	position: relative;
  	display: inline-block;
    top: -0.775em;
    padding: 0 1.5em 0 0;
    font-family: 'Roboto Condensed', sans-serif !important;
}

a {
	  color: #006376;
	  text-decoration: none;
}

a:hover {
	  text-decoration: none;
}

b, strong {
	  font-weight: 700;
  	color: #666;
}

i, em {
	  font-style: italic;
}

sub {
	  position: relative;
	  top: 0.5em;
	  font-size: 0.8em;
}

sup {
  	position: relative;
  	top: -0.5em;
  	font-size: 0.8em;
}

hr {
  	border: 0;
	  border-top: solid 2px #E7EAE8;
	  margin: 0 0 3em 0;
}

.image {
  width: 100%;
  margin: 1em 0 2em 0;
}

/**
p, ul, ol, dl, table {
	  margin-bottom: 3em;
}*/

/** Global styles */

.pg-bg-blue {
    background-color: #336791;
}

.pg-bg-light-blue {
    background-color: #008bb9;
}

.pg-bg-purple {
    background-color: #e6E6fa;
}

.pg-bg-gray {
    background-color: #e7eae8;
}

.pg-border-color-blue {
    border-color: #336791;
}

.pg-text-blue {
    color: #336791;
}

.pg-text-light-blue {
    color: #008bb9;
}

.pgFrontFeature {
    background: #F5F5F5 url(/media/img/feature/feature_elephant.png) right bottom no-repeat;
    /* background: #F5F5F5 url(/media/img/feature/feature_gears.png) right bottom no-repeat; */
}

.pgFrontContainer {
    padding: 1em 2em;
}

/* #BLOCKQUOTE */

blockquote {
	  border-left: solid 5px #E7EAE8;
	  padding: 1em 4em 3em .5em;
	  font-style: italic;
}

.item blockquote {
	  border-left: none;
	  margin: 0;
}

.item blockquote img {
  	margin-bottom: 10px;
}

.item blockquote p:before {
  	content: "\f10d";
	  font-family: 'Fontawesome';
	  float: left;
  	margin-right: 10px;
}

/* #FEATURED SECTIONS */

.feature {
  text-align: center;
  padding: 2em;
  font-size: 0.9em;
}

.feature ul {
  padding: 0;
}

.feature li {
  list-style-type: none;
}

.feature i {
  font-size: 2.5em;
  margin: 20px 0;
  color: #336791;
}

.feature img {
  width: 2.5em;
  margin: 20px 0;
}

.text {
  margin: 2em 0;
  height: 19em;
}

.text p {
  text-align: left;
}

/* #LIST */

ul.contact {
  	cursor: default;
}

a.icon {
    text-decoration: none !important;
}

ul.contact li {
	  -moz-transition: top .15s ease-in-out;
	  -webkit-transition: top .15s ease-in-out;
	  -ms-transition: top .15s ease-in-out;
	  transition: top .15s ease-in-out;
	  position: relative;
	  display: inline-block;
	  margin: 0 0.25em 0 0.25em;
  	top: 0;
}

ul.contact li a {
  	-moz-transition: background-color .2s ease-in-out;
  	-webkit-transition: background-color .2s ease-in-out;
	  -ms-transition: background-color .2s ease-in-out;
	  transition: background-color .2s ease-in-out;
	  display: block;
	  position: relative;
	  width: 48px;
	  height: 48px;
	  border-radius: 6px;
	  outline: 0;
	  background: #666;
	  text-align: center;
}

ul.contact li a:before {
	  color: #f2f5f3;
	  font-size: 32px;
	  line-height: 48px;
}

ul.contact li:hover {
  	top: -5px;
}

ul.contact li:hover a.fa-facebook {
  	background-color: #3C5A98;
}

ul.contact li:hover a.fa-twitter {
  	background-color: #2DAAE4;
}

ul.contact li:hover a.fa-github {
	  background-color: #000;
}

ul.contact li:hover a.fa-linkedin {
	  background-color: #006599;
}

ul.contact li:hover a.fa-instagram {
	  background-color: #2E5E86;
}

ul.contact li:hover a.fa-google-plus {
	  background-color: #DA2713;
}

ul.contact li:active {
	  top: 0;
}

ul.meta {
	  font-size: 0.85em;
	  color: #a1aaa5;
    padding-left: 0;
}

ul.meta li {
	  position: relative;
	  display: inline-block;
}

ul.meta li a {
	  color: inherit;
	  outline: 0;
}

ul.meta li:first-child {
	  margin-left: 0;
}

ul.meta li:before {
  	opacity: 0.5;
  	cursor: default;
  	margin-right: 0.5em;
}

ul.divided > li {
	  border-top: solid 2px #e7eae8;
	  padding-top: 1.35em;
	  margin-top: 1.35em;
    list-style: none;
}

ul.divided-right > li {

}

ul.divided > li:first-child {
	  border-top: 0;
	  padding-top: 0;
	  margin-top: 0;
}


/* #ICONS */

.icon {
		position: relative;
		text-decoration: none;
}

.icon:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
}

.icon > .label {
		display: none;
}

/** BASE STYLES */

/** SHOUTOUT BOX */
.pg-shout-box {
    background-color: #336791;
}

.pg-shout-box a {
    color: white;
    text-decoration: underline;
}

.pg-shout-box a:hover {
    text-decoration: underline;
}

/* #PLANETPOSTGRESQL */

.planetPostgresqlGlobe {
	text-align: center;
	font-size: 5em;
	color: #336791;
  margin-bottom: 25px;
}

/* #JUMBOTRON */

.pg-jumbotron {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/media/img/misc/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    margin: 0;
    text-align: center;
}

.pg-jumbotron-header {
  font-size: 3.0rem;
  font-weight: 600;
  line-height: 1.2;
}

/* #FOOTER */

#footer {
  background-color: #f2f5f3;
  text-align: center;
  padding: 4em 0 3em 0;
  margin-top: 3em;
}

#footer a {
		color: inherit;
}

#footer h2.major {
    margin: 0 0 1em 0;
}

#footer h2.major span, #footer h3.major span {
		background: #f2f5f3;
    font-family: 'Roboto Condensed', sans-serif !important;
}

/* #LIST DESKTOP */

ul.actions {
		text-align: center;
		margin: 2em 0 0 0;
}

/* #SIDEBAR DESKTOP */

.sidebar {
		padding-top: 6em;
}

.homepage .sidebar {
		padding-top: 0;
}

.sidebar h2.major {
		text-align: left;
		margin: 0 0 1em 0;
}

.sidebar h2.major span {
		padding: 0;
    font-family: 'Roboto Condensed', sans-serif !important;
}


.navbar-brand img {
    height: 2em;
}

.navbar {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

/* #SIDEBAR UL STYLING */

/**
* !Bugfix --
* Need to fix the element select to where it's for sidebar ul and not about.html only.
*/

.about.ul {
    list-style-type: circle;
    padding-left: 1.3em;
}

/* #STYLEDSELECT */

/**
* Used on mailinglists.html as part of the mailinglist subscribe functionality.
*/

.styledSelect, .styledInput {
  	width: 100%;
	  height: 34px;
	  overflow: hidden;
	  background-color: #fff;
	  border: solid 2px #e7eae8;
}

.styledInput[name="search"] {
    width: 98%;
    height: 3.6em;
}

/* Buttons */

.btn-center {
  text-align: center;
  display: block;
  margin: 1em auto;
}

.btn-primary {
  background-color: #336791;
  border-color: #336791;
  width: 12em;
  display: inline;
}

button.btn.btn-center.btn-primary:hover {
  background-color: #666;
  border-color: #666;
}

/** ALL RESPONSIVE QUERIES HERE */
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    /** NAVBAR */
    .nav-item > a {
        font-size: 0.875rem;
    }
}
@media (max-width: 575px) {
    /** HOMEPAGE JUMBOTRON */
    .pg-jumbotron-header {
        font-size: 1.5rem;
    }
}


/** Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/** Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/** Very Large devices (large displays, 1200px and up) */
@media (min-width: 1200px) {
}
