/**
* Authors: Joshua Santos, Sarah Conway
* Joshua Santos URI: http://nerdsville.net/
* Sarah Conway URI: http://sarahconway.com/
*
* -----------------------------------------
* REFERENCE COLORS:
* (in order from lightest to darkest)
*
* #e7eae8: Extremely light gray, used for alternating color boxes such as on mailinglists.html
* #d7dad8: Medium gray, used in Dropotron
* #666: Dark gray, official PostgreSQL gray color and equivalent to RGB(102,102,102)
* #688297: Grayish blue, used in Dropotron
* #336791: Medium blue, official PostgreSQL blue color
* #264d6d: Dark blue
*
* -----------------------------------------
* All padding: 0 0 0 0; and margin: 0 0 0 0; definitions are top, right, bottom, left specifications, respectively.
*
*/

@import url("font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed');

/* #RESET */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table, th, td {
    border-collapse: collapse;
    border-spacing: 3em;
    border: 1px solid black;
}

body {
    -webkit-text-size-adjust: none;
}

/* #BOX MODEL */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* #ALTERNATING COLOR BOXES */

/**
* Both of the below are used on mailinglists.html under the "Subscribe" section.
*/

.color {
    background-color: #fff;
    padding: 2em 0 3em 0;
}

.coloralt {
    background-color: #e7eae8;
    padding: 3em 3em 4em 4em;
    border-radius: 1em;
}

.coloralt h3 {
    font-size: 1.1em;
}

.coloralt .row {
    margin: 0;
}

.emailInput {
    padding-right: 1em;
}


/* #BASIC */

body {
    background: #f2f5f3;
	  font-family: 'Open Sans', sans-serif;
	  font-weight: 400;
	  color: #666;
	  font-size: 11.5pt;
	  line-height: 2em;
}

body.is-loading * {
	  -moz-transition: none !important;
	  -webkit-transition: none !important;
	  -ms-transition: none !important;
	  transition: none !important;
	  -moz-animation: none !important;
	  -webkit-animation: none !important;
	  -ms-animation: none !important;
	  animation: none !important;
}

input, textarea, select {
	  font-family: 'Open Sans', sans-serif;
	  font-weight: 400;
	  color: #666;
	  font-size: 11.5pt;
	  line-height: 2em;
}

h1, h2, h3, h4, h5, h6 {
  	font-family: 'Roboto Condensed', sans-serif;
	  font-weight: 700;
	  text-transform: uppercase;
	  color: #666;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	  text-decoration: none;
	  color: inherit;
}

h2.major {
	  position: relative;
	  border-top: solid 5px #e7eae8;
}

h2.major span {
  	background: #fff;
  	position: relative;
	  display: inline-block;
}

h3.major {
	  position: relative;
	  border-top: solid 5px #e7eae8;
}

h3.major span {
  	background: #fff;
  	position: relative;
  	display: inline-block;
}

a {
	  color: #006376;
	  text-decoration: none;
}

a:hover {
	  text-decoration: none;
}

b, strong {
	  font-weight: 700;
  	color: #666;
}

i, em {
	  font-style: italic;
}

br.clear {
	  clear: both;
}

sub {
	  position: relative;
	  top: 0.5em;
	  font-size: 0.8em;
}

sup {
  	position: relative;
  	top: -0.5em;
  	font-size: 0.8em;
}

hr {
  	border: 0;
	  border-top: solid 2px #E7EAE8;
	  margin: 0 0 3em 0;
}

p, ul, ol, dl, table {
	  margin-bottom: 3em;
}


/* #BLOCKQUOTE */

blockquote {
	  border-left: solid 5px #E7EAE8;
	  padding: 1em 4em 3em .5em;
	  font-style: italic;
}

.item blockquote {
	  border-left: none;
	  margin: 0;
}

.item blockquote img {
  	margin-bottom: 10px;
}

.item blockquote p:before {
  	content: "\f10d";
	  font-family: 'Fontawesome';
	  float: left;
  	margin-right: 10px;
}


/* #SECTION, #ARTICLE */

section, article {
  	margin-bottom: 6em;
}

section > :last-child, section:last-child, article > :last-child, article:last-child {
  	margin-bottom: 0;
}

header > p {
	  display: block;
	  font-family: 'Roboto Condensed', sans-serif;
	  font-weight: 700;
	  text-transform: uppercase;
	  color: #666;
}

.navbar-brand img {
    height: 2em;
    margin-top: 7px;
}

.navbar-brand {
  float: none !important;
  padding: 0 !important;
}

.form-inline .form-control {
  height: 30px;
  margin: 9px 0;
  float: right;
}

.navbar-brand>img {
    display: block;
    padding-right: 1em;
}

.navbar-nav>li>a {
    padding: 15px 20px;
}

.navbar-fixed-top {
    background: #fff;
    padding: 0 !important;
    margin: 0;
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
      padding: 15px 20px;
  }
}

/* #FEATURED SECTIONS */

.margin-1-bottom {
  	margin-bottom: 1em;
}

.feature {
	  text-align: center;
}


/* #RELEASE BOX */

/**
* Used on index.html.
*/

.releaseBox {
  	background-color: #e7eae8;
	  height: 2em;
}

.releaseBoxAlt {
	  background-color: #fff;
	  height: 2em;
}


/* #CALENDAR BOXES */

/**
* Used on index.html.
*/

.calendarBox {
	  background-color: #e7eae8;
	  height: 4.1em;
}

.calendarBoxAlt {
	  background-color: #fff;
	  height: 4.1em;
}

/* #LIST */

ul.default {
  	list-style: disc;
  	padding-left: 1em;
}

ul.default li {
	  padding-left: 0.5em;
}

ul.divided > li {
	  border-top: solid 2px #e7eae8;
	  padding-top: 2.35em;
	  margin-top: 2.35em;
}

ul.divided-right > li {

}

ul.divided > li:first-child {
	  border-top: 0;
	  padding-top: 0;
	  margin-top: 0;
}

ul.actions li {
	  display: inline-block;
	  margin: 0 0 0 1em;
}

ul.actions li:first-child {
  	margin-left: 0;
}

ul.contact {
  	cursor: default;
}

ul.contact li {
	  -moz-transition: top .15s ease-in-out;
	  -webkit-transition: top .15s ease-in-out;
	  -ms-transition: top .15s ease-in-out;
	  transition: top .15s ease-in-out;
	  position: relative;
	  display: inline-block;
	  margin: 0 0.25em 0 0.25em;
  	top: 0;
}

ul.contact li a {
  	-moz-transition: background-color .2s ease-in-out;
  	-webkit-transition: background-color .2s ease-in-out;
	  -ms-transition: background-color .2s ease-in-out;
	  transition: background-color .2s ease-in-out;
	  display: block;
	  position: relative;
	  width: 48px;
	  height: 48px;
	  border-radius: 6px;
	  outline: 0;
	  background: #666;
	  text-align: center;
}

ul.contact li a:before {
	  color: #f2f5f3;
	  font-size: 32px;
	  line-height: 48px;
}

ul.contact li:hover {
  	top: -5px;
}

ul.contact li:hover a.fa-facebook {
  	background-color: #3C5A98;
}

ul.contact li:hover a.fa-twitter {
  	background-color: #2DAAE4;
}

ul.contact li:hover a.fa-github {
	  background-color: #000;
}

ul.contact li:hover a.fa-linkedin {
	  background-color: #006599;
}

ul.contact li:hover a.fa-instagram {
	  background-color: #2E5E86;
}

ul.contact li:hover a.fa-google-plus {
	  background-color: #DA2713;
}

ul.contact li:active {
	  top: 0;
}

ul.special {
  	cursor: default;
}

ul.special li {
	  -moz-transition: top .15s ease-in-out;
	  -webkit-transition: top .15s ease-in-out;
	  -ms-transition: top .15s ease-in-out;
	  transition: top .15s ease-in-out;
	  position: relative;
	  display: inline-block;
	  margin: 0 1.5em 0 1.5em;
	  top: 0;
}

ul.special li:hover {
	  top: -10px;
}

ul.special li:hover a {
	  background: #b9d2ce;
}

ul.special a {
	  -moz-transition: background-color .2s ease-in-out;
	  -webkit-transition: background-color .2s ease-in-out;
	  -ms-transition: background-color .2s ease-in-out;
	  transition: background-color .2s ease-in-out;
	  display: block;
	  position: relative;
	  background: #666;
	  width: 12em;
	  height: 12em;
	  border-radius: 6em;
	  outline: 0;
}

ul.special a:before {
	  position: absolute;
	  width: 128px;
	  height: 128px;
	  font-size: 96px;
	  line-height: 128px;
	  left: 50%;
    margin: -64px 0 0 -64px;
  	top: 50%;
	  color: #fff;
	  text-align: center;
}

ul.meta {
	  font-size: 0.85em;
	  color: #a1aaa5;
}

ul.meta li {
	  position: relative;
	  display: inline-block;
	  margin-left: 1em;
}

ul.meta li a {
	  color: inherit;
	  outline: 0;
}

ul.meta li:first-child {
	  margin-left: 0;
}

ul.meta li:before {
  	opacity: 0.5;
  	cursor: default;
  	margin-right: 0.5em;
}

ul.menu li {
  	border-left: solid 1px #e7eae8;
	  display: inline-block;
	  padding: 0 0 0 0.75em;
	  margin: 0 0 0 0.75em;
}

ul.menu li:first-child {
	  border-left: 0;
	  margin-left: 0;
	  padding-left: 0;
}

ol.default {
	  list-style: decimal;
	  padding-left: 1.25em;
}

ol.default li {
	  padding-left: 0.25em;
}


/* #TABLES */

table {
		width: 100%;
}

table.default {
		width: 100%;
}

table.default tr {
		border-top: solid 2px #E7EAE8;
}

table.default tr:first-child {
		border-top: 0;
}

table.default td {
		padding: 0.5em 1em 0.5em 1em;
}

table.default th {
		text-align: left;
		padding: 0.5em 1em 0.5em 1em;
		margin: 0 0 1em 0;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		color: #666;
}

table.default thead {
		background: #E7EAE8;
		color: #fff;
}


/* #BOX HIGHLIGHT */

.box.highlight {
		text-align: center;
}


/* #ICONS */

.icon {
		position: relative;
		text-decoration: none;
}

.icon:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-transform: none !important;
}

.icon > .label {
		display: none;
}


/* #WRAPPERS */

#main-wrapper {
    border-top: 5px solid #336791;
    border-bottom: solid 5px #666;
    margin-top: 3em;
}

#banner-wrapper {
		position: relative;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/media/img/misc/banner.jpg");
    height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
		z-index: 1;
    text-align: center;
}

.jumbotron h1 {
    font-size: 3em !important;
    color: #fff !important;
}

.jumbotron .lead {
    color: #fff;
}


/* #FOOTER */

#footer {
  background-color: #f2f5f3;
  text-align: center;
  padding: 8em 0 8em 0;
}

#footer a {
		color: inherit;
}

#footer h2.major {
    margin: 0 0 1em 0;
}

#footer h2.major span {
		background: #f2f5f3;
}

#footer h3.major span {
		background: #f2f5f3;
}


/* #DESKTOP */

@media screen and (min-width: 737px) {

		/* #BASIC DESKTOP */

		h1, h2, h3, h4, h5, h6 {
				margin: 0 0 0.5em 0;
		}

		h2 {
				font-size: 1.65em;
		}

		h2.major {
				font-size: 1.65em;
				text-align: center;
				margin: 0 0 3em 0;
		}

		h2.major span {
				top: -0.775em;
				padding: 0 1.5em 1.5em 1.5em;
		}

		h3.major {
				text-align: left;
				margin: 0 0 1em 0;
		}

		h3.major span {
				top: -0.775em;
				padding: 0 1.5em 0 0;
		}

		h3, h4 {
				font-size: 1.25em;
		}


		/* #LIST DESKTOP */

		ul.actions {
				text-align: center;
				margin: 2em 0 0 0;
		}


		/* #BOX DESKTOP */

		.box.highlight .special {
				margin: 0 0 4em 0;
		}

		.box.highlight h2 {
				font-size: 3em;
				margin: 0 0 0.75em 0;
		}

		.box.highlight header > p {
				font-size: 1.65em;
				margin: 0 0 1.5em 0;
		}

		.box.feature {
				text-align: center;
		}

		.box.feature > div {
				height: 220px;
		}

		.box.feature.date {
				display: block;
				width: 68px;
				height: 68px;
				text-align: center;
				background: #e7eae8;
				text-transform: uppercase;
		}

		.box.feature.event{
				padding: 2em 1.5em;
		}

		.box.post header {
				margin: 0 0 2.5em 0;
		}

		.box.post h3 {
				font-size: 3em;
				margin: 0 0 0.5em 0;
		}

		.box.post header > p {
				font-size: 1.65em;
				margin: 0 0 0.5em 0;
		}

		.box.post ul.meta {
				margin: 0 0 0.5em 0;
		}

		.box.post-summary h3 {
				line-height: 1em;
				margin: 0 0 0.75em 0;
		}

		.box.post-summary .meta {
				margin: 0;
				line-height: 1em;
		}

		.box.post-centered h3 {
				line-height: 1em;
				margin: 0 0 0.75em 0;
				text-align: center;
		}

		.box.post-centered .meta {
				margin: 0;
				line-height: 1em;
				text-align: center;
		}

		.box.post-centered a li:hover, .box.post-centered li.active {
				color: #000;
		}

		.box.post-centered li:hover a {
				color: #000;
		}

		.box.post-centered a:hover {
				color: #000;
		}

		.box.page-content header {
				margin: 0 0 2.5em 0;
		}

		.box.page-content h2 {
				font-size: 3em;
				margin: 0 0 0.5em 0;
		}

		.box.page-content header > p {
				margin: 0 0 0.5em 0;
				font-size: 1.65em;
		}

		.box.page-content ul.meta {
				margin: 0 0 0.5em 0;
		}


		/* #SIDEBAR DESKTOP */

		.sidebar {
				padding-top: 0.5em;
		}

		.homepage .sidebar {
				padding-top: 0;
		}

		.sidebar h2.major {
				text-align: left;
				margin: 0 0 1em 0;
		}

		.sidebar h2.major span {
				padding: 0;
		}


  	/* #CONTENT DESKTOP */

		.content-left {
				padding-right: 2em;
		}

		.content-right {
				padding-left: 2em;
		}

		.content-centered {
				padding: 0 0 0 0;
		}


		/* #WRAPPERS DESKTOP */

		#banner-wrapper {
				padding: 12.5em;
		}

		#main-wrapper {
				border-top-width: 35px;
				border-bottom-width: 10px;
		}


		/* #HEADER DESKTOP */

    .navbar-brand img {
        height: 2em;
        margin-top: 7px;
    }

    .navbar-brand {
      float: none;
      padding: 0;
    }

  	/* #FOOTER DESKTOP */

	  #footer {
				text-align: center;
				padding: 8em 0 8em 0;
	  }

	  #footer h2.major {
				margin: 0 0 1em 0;
	  }

}

/* #NO-MARGIN */

h2.major.no-margin {
	  margin: 0;
	  text-align: center;
}

h3.major.no-margin {
  	margin: 0;
	  text-align: center;
}

.box.features.no-margin {
  	margin: 0;
}

/* #CONTRIBUTOR GREYBOXES */

/**
* Used on contributors.html.
*/

.contributorLeftBox {
  	background-color: #336791;
	  border-color: #336791;
	  color: #fff;
}

.contributorRightBox {
	  background-color: #fff;
 	  color: #666670;
  	padding-top: .5em !important;
}

.contributorRightBox p {
    margin: 0 0 0 15px;
  	min-height: 6em;
}

.contributorRightBoxAlt {
  	background-color: #e7eae8;
	  color: #666670;
	  padding-top: .5em !important;
}

.contributorRightBoxAlt p {
    margin: 0 0 0 15px;
  	min-height: 6em;
}

.contributorBox {
  	margin-bottom: 2em;
}

.contributorFaux {
	  background-color: #336791;
	  border-bottom: #fff;
}

/* #CONTRIBUTOR GREYBOXES MOBILE */

@media screen and (max-width: 736px) {

	  .contributorRightBox p {
		    margin-left: 0;
	  }

	  .contributorRightBoxAlt p {
		    margin-left: 0;
	  }

}

/* #SIDEBAR UL STYLING */

/**
* !Bugfix --
* Need to fix the element select to where it's for sidebar ul and not about.html only.
*/

.about.ul {
    list-style-type: circle;
    padding-left: 1.3em;
}

/* #STYLEDSELECT */

/**
* Used on mailinglists.html as part of the mailinglist subscribe functionality.
*/

.styledSelect, .styledInput {
  	width: 100%;
	  height: 34px;
	  overflow: hidden;
	  background-color: #fff;
	  border: solid 2px #e7eae8;
}

.styledInput[name="search"] {
    width: 98%;
    height: 3.6em;
}

/* #MAILING LISTS SEARCH & SUBMIT FUNCTIONALITY */

/**
* Used on mailinglists.html.
*/

.mailListSubmit {
  	float: right;
}

form[name="searchMailingList"] {
	  margin-bottom: 4em;
}

select {
    padding: 3px;
  	width: 100%;
    margin: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color: #888;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

/* Targeting Webkit browsers only. FF will show the dropdown arrow with so much padding. */

@media screen and (-webkit-min-device-pixel-ratio:0) {

    select {
        padding-right: 18px;
    }

}


/* #LABEL */

label {
    position: relative;
}

label:after {
    content: '<>';
    font: 11px "Consolas", monospace;
    color: #aaa;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 8px;
    top: 2px;
    padding: 0 0 2px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    pointer-events: none;
}

label:before {
    content: '';
    right: 6px;
    top: 0;
    width: 20px;
    height: 20px;
    background: #f8f8f8;
    position: absolute;
}

/* #COPYRIGHT */

#copyright {
		display: inline-block;
		background: #e7eae8;
		padding: 0.75em 2em 0.75em 2em;
		color: #8b9790;
    width: 100%;
}

#copyright a {
		color: inherit;
}

#copyright .menu {
		margin: 0;
}

#copyright .menu li {
		border-color: #264d6d;
		border-width: 2px;
		line-height: 1em;
}

.btn-center {
  text-align: center !important;
  display: block !important;
  margin: 4em auto !important;
}
