<!doctype html>
<html>
 <head>
  <title>PostgreSQL: {%block title%}{%endblock%}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="Content-Type" content="text/xhtml; charset=utf-8" />
  {%block meta%}{%endblock%} {# used for custom meta tags such as description which we don't want for every page #}
  <meta name="copyright" content="The PostgreSQL Global Development Group" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="shortcut icon" href="/favicon.ico" />
  {%if newstags %}
    {%comment%}Default RSS links are only shown on pages that have newstags set{%endcomment%}
    <link rel="alternate" type="application/rss+xml" title="All PostgreSQL News" href="/news.rss" />
    {%for t in newstags%}
      <link rel="alternate" type="application/rss+xml" title="PostgreSQL News about {{t.name}}" href="/news/{{t.urlname}}.rss" />
    {%endfor%}
    <link rel="alternate" type="application/rss+xml" title="PostgreSQL Events" href="/events.rss" />
  {%endif%}
  <style type="text/css" media="screen" title="Normal Text">@import url("/dyncss/base.css?{{gitrev}}");</style>
  {%block extrahead%}{%endblock%}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="col">
          <!-- Header -->
          <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand p-0" href="/">
              <img id="logo" src="/media/img/about/press/elephant.png" alt="PostgreSQL Elephant Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#pgNavbar" aria-controls="pgNavbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="pgNavbar">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item p-2"><a href="/" title="Home">Home</a></li>
                <li class="nav-item p-2"><a href="/about/" title="About">About</a></li>
                <li class="nav-item p-2"><a href="/download/" title="Download">Download</a></li>
                <li class="nav-item p-2"><a href="/docs/" title="Documentation">Documentation</a></li>
                <li class="nav-item p-2"><a href="/community/" title="Community">Community</a></li>
                <li class="nav-item p-2"><a href="/developer/" title="Developers">Developers</a></li>
                <li class="nav-item p-2"><a href="/support/" title="Support">Support</a></li>
                <li class="nav-item p-2"><a href="/about/donate/" title="Donate">Donate</a></li>
                <li class="nav-item p-2"><a href="/account/" title="Your account">Your account</a></li>
              </ul>
              <form class="form-inline" role="search" method="get" action="/search/">
               <input class="form-control mr-sm-2" id="q" name="q" type="text" size="20" maxlength="255" placeholder="Search..." accesskey="s" />
             </form>
            </div>
          </nav>
        </div>
      </div>
      <div class="row justify-content-center pg-shout-box">
        <div class="col text-white text-center">
          Nov 9, 2017: <a href="/about/news/1801/">PostgreSQL 10.1 Released</a>!
        </div>
      </div>
    </div>
    {%block layoutblock%}{%endblock%}
    <!-- Footer -->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="major"><span>Connect with the PostgreSQL Community</span></h2>
            <ul class="contact">
              <li><a class="icon fab fa-facebook-f" href="#"><span class="label">Facebook</span></a></li>
              <li><a class="icon fab fa-twitter" href="#"><span class="label">Twitter</span></a></li>
              <li><a class="icon fab fa-instagram" href="#"><span class="label">Instagram</span></a></li>
              <li><a class="icon fab fa-github" href="#"><span class="label">GitHub</span></a></li>
              <li><a class="icon fab fa-google-plus-g" href="#"><span class="label">Google+</span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Copyright -->
      <div class="container">
        <ul class="menu">
          <a href="/about/privacypolicy">Privacy Policy</a> |
          <a href="/about/">About PostgreSQL</a> |
          <a href="/about/contact">Contact</a><br/>
          <p>Copyright &copy; 1996-{% now "Y" %} The PostgreSQL Global Development Group</p>
        </ul>
      </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1345454-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>
