{%extends "base/base.html" %}
{%block layoutblock%}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <div id="pgSideWrap">
       {%if navmenu|length > 0%}
       <div id="pgSideNav">
         <h2 class="major"><span>Quick Links</span></h2>

         <!-- replace the following before production with the dynamic code below -->

         <ul>
           <li><a href="../about/about.html">About</a></li>
           <li><a href="../about/license.html">License</a></li>
           <li><a href="../about/featurematrix.html">Feature Matrix</a></li>
           <li><a href="../about/donate.html">Donate</a></li>
           <li><a href="../about/casestudies.html">Case Studies</a></li>
           <li><a href="#">History</a></li>
           <li><a href="../about/sponsors.html">Sponsors</a></li>
           <li><a href="../about/hostedservers.html">Hosted Servers</a></li>
           <li><a href="../about/news.html">Latest News</a></li>
           <li><a href="../about/events.html">Upcoming Events</a></li>
           <li><a href="../about/press.html">Press</a></li>
        </ul>

        <!--
         <ul>
           {%for m in navmenu%}
           {%if not forloop.first %}</li>{%endif%}
           <li{%if forloop.last%} class="last-child"{%endif%}><a href="{{m.link}}">{{m.title}}</a>
            {%if m.submenu %}
             <ul>
             {%for sm in m.submenu %}
              <li{%if forloop.last%} class="last-child"{%endif%}><a href="{{sm.link}}">{{sm.title}}</a></li>
             {%endfor%}
             </ul>
            {%endif%}
            {%if forloop.last%}
           </li>
            {%endif%}
           {%endfor%}
        </ul>
      -->

       </div>
       {%endif%}
      </div> <!-- pgSideWrap -->
    </div>
    <div class="col-lg-10">
      <div id="pgContentWrap">
        {%block contents%}{%endblock%}
      </div> <!-- pgContentWrap -->
    </div>
  </div>
</div>
{%endblock%}
