{%extends "base/page.html"%}
{%block title%}About{%endblock%}
{%block contents%}

<h1>About PostgreSQL <img id="logo" src="/media/img/about/press/elephant.png" alt="PostgreSQL Elephant Logo" /></h1>

<section>
  <h2 class="major"><span>What is PostgreSQL, anyway?</span></h2>
  <p>
    PostgreSQL is a powerful, open source object-relational database system. It has more than 15 years
    of active development and a proven architecture that has earned it a strong reputation for
    reliability, data integrity, and correctness. It runs on all major operating systems, including
    Linux, UNIX (AIX, BSD, HP-UX, SGI IRIX, Mac OS X, Solaris, Tru64), and Windows. It is fully ACID
    compliant, has full support for foreign keys, joins, views, triggers, and stored procedures (in
    multiple languages). It includes most SQL:2008 data types, including INTEGER, NUMERIC, BOOLEAN,
    CHAR, VARCHAR, DATE, INTERVAL, and TIMESTAMP. It also supports storage of binary large objects,
    including pictures, sounds, or video. It has native programming interfaces for C/C++, Java, .Net,
    Perl, Python, Ruby, Tcl, ODBC, among others, and exceptional documentation.
  </p>
</section>

<section>
  <h2 class="major"><span>Why use PostgreSQL?</span></h2>
  <p>
    An enterprise class database, PostgreSQL boasts sophisticated features such as Multi-Version
    Concurrency Control (MVCC), point in time recovery, tablespaces, asynchronous replication, nested
    transactions (savepoints), online/hot backups, a sophisticated query planner/optimizer, and write ahead
    logging for fault tolerance. It supports international character sets, multibyte character encodings,
    Unicode, and it is locale-aware for sorting, case-sensitivity, and formatting. It is highly scalable both
    in the sheer quantity of data it can manage and in the number of concurrent users it can accommodate.
    There are active PostgreSQL systems in production environments that manage in excess of 4 terabytes of
    data.
  </p>
</section>

<h2 class="major"><span>Our users <i class="fa fa-heart"></i> us</span></h2>
<!-- Head tags to include FontAwesome -->
<div class="12u">
  <div class="jcarousel-wrapper">
    <div class="jcarousel">
      <ul>
        <!-- Quote 1 -->
        <li>
          <blockquote>
            <p>Open source and free PostgreSQL has the speed, compatibility, SQL, and features as sophisticated as the number one commercial database.</p>
            <small>Ferry Irawan, NewJavaSoft, Indonesia</small>
          </blockquote>
        </li>
        <!-- Quote 2 -->
        <li>
          <blockquote>
            <p>[Our customers] expect both high performance and high availability from our software, central part of which is the SQL database engine. And we have found that the PostgreSQL is really up to the task.</p>
            <small>Maksym Sobolyev, SippySoft Inc.</small>
          </blockquote>
        </li>
        <!-- Quote 3 -->
        <li>
          <blockquote>
            <p>Here in CAIXA bank we use Postgresql in mission-critical financial environments because - beyond being strategic for our business and Brazil - it has the quality to support our operations.</p>
            <small>Clarice Coppetti, IT Vice President, CAIXA Bank, Brazil</small>
          </blockquote>
        </li>
      </ul>
    </div>

    <a href="#" class="jcarousel-control-next">&rsaquo;</a>

    <p class="jcarousel-pagination">

    </p>
  </div>
</div>

<section>
  <h2 class="major"><span>Stats for the Analytically Minded</span></h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 feature-grid">
        <h3>9,353 Contributors</h3>
      </div>
      <div class="col-sm-3 feature-grid">
        <h3>5,000 Conferences</h3>
      </div>
      <div class="col-sm-3 feature-grid">
        <h3>10,000 Awards</h3>
      </div>
      <div class="col-sm-3 feature-grid">
        <h3>30 Years</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 feature-grid">
        <h3>39,196 Commits</h3>
      </div>
      <div class="col-sm-3 feature-grid">
        <h3>300 User Groups</h3>
      </div>
      <div class="col-sm-3 feature-grid">
        <h3>1,123,628 Lines of Code</h3>
      </div>
      <div class="col-sm-3 feature-grid">
        <h3>1,000,000 Cats</h3>
      </div>
    </div>
  </div>
</section>

<section>
  <h2 class="major"><span>Any questions?</span></h2>
  <p>
    Check out our <strong><a href="#">wiki</a></strong> for extensive documentation on the PostgreSQL database.
    We also have hundreds of <strong><a href="#">mailing lists</a></strong> available for subscribing to for
    lurking purposes (or if you're the curious type). And finally, if you're interested in the
    history of our fabulous database, you can read all about it <strong><a href="#">here</a></strong>.
  </p>
</section>

{%endblock%}
