{%extends "base/page.html"%}
{%block title%}Community{%endblock%}
{%block contents%}

  <div class="row">
    <div class="col-md-8">
      <h1>Community <i class="fa fa-users"></i></h1>
      <p>
        PostgreSQL is well-supported by its active community. There are more than a dozen <a href="https://lists.postgresql.org/">mailing lists</a> available, categorized into topics like:
        <ul>
          <li><a href="/list/pgsql-announce/">Announcements</a></li>
          <li><a href="/list/pgsql-hackers/">PostgreSQL development</a></li>
          <li><a href="/list/pgsql-general/">General PostgreSQL Support</a></li>
          <li><a href="/list/pgsql-jobs/">Jobs</a></li>
        </ul>
        and more. We also have many local <a href="/community/user-groups/">PostgreSQL User Groups</a> all over the world, and there is also an active <a href="/community/irc/">IRC</a> &amp; <a href="https://postgres-slack.herokuapp.com/" target="_blank">Slack</a> community.
      </p>
      <p>
        There are also links to <a href="/community/international/">international sites</a> that contain PostgreSQL information in various languages.
      </p>
      <p>People in the PostgreSQL community also contribute to:</p>
      <ul>
        <li><a href="https://planet.postgresql.org/" target="_blank">Planet PostgreSQL</a>, an aggregator of blogs covering many topics around PostgreSQL</li>
        <li><a href="https://wiki.postgresql.org" target="_blank">PostgreSQL Wiki</a>, our wiki, hosting user generated content as well as information for how to contribute code to PostgreSQL</li>
      </ul>
      <h2>External Resources</h2>
      <ul>
        <li><a href="http://www.pg-forum.de/" target="_blank">pg-forum.de</a>, a German PostgreSQL forum.</li>
      </ul>
      <p>
        Please send appropriate links to <a href="mailto:webmaster@postgresql.org">webmaster@postgresql.org</a> for possible inclusion on this page.
      </p>
    </div>
    <div class="col-md-4">
      <h2>Planet PostgreSQL</h2>
     <dl>
      <dd><ul>
       {% for post in planet %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
       {%endfor%}
      </ul></dd>
      <dd><a href="https://planet.postgresql.org">More</a></dd>
     </dl>
    </div>
  </div>

{%endblock%}
