{%extends "base/page.html"%}
{%block title%}{{title}}{%endblock%}
{%block contents%}
<h1>{{title}} <i class="fa fa-question-circle"></i></h1>
<p>The following {{whatname}} are registered in {{regionname}}.</p>

{%for s in services%}

<table class="table table-striped">
  <tbody>
     <tr>
      <th scope="row">Name</th>
      <td><b>{{s.org.name}}</b>{%if s.url%} (<a href="{{s.url}}">{{s.url}}</a>){%endif%}</td>
     </tr>
     {%if s.provides_hosting and s.provides_support %}
     <tr>
      <th scope="row">Provides</th>
      <td>Provides both support and hosting.</td>
     </tr>
     {%endif%}
     <tr>
      <th scope="row">Description</th>
      <td>{{s.description}}</td>
     </tr>
     {%if s.employees %}
     <tr>
      <th scope="row">Number of employees</th>
      <td>{{s.employees}}</td>
     </tr>
     {%endif%}
     {%if s.locations%}
     <tr>
      <th scope="row">Office locations</th>
      <td>{{s.locations}}</td>
     </tr>
     {%endif%}
     {%if s.hours %}
     <tr>
      <th scope="row">Hours</th>
      <td>{{s.hours}}</td>
     </tr>
     {%endif%}
     {%if s.languages%}
     <tr>
      <th scope="row">Languages</th>
      <td>{{s.languages}}</td>
     </tr>
     {%endif%}
     {%if s.customerexample%}
     <tr>
      <th scope="row">Customer example</th>
      <td>{{s.customerexample}}</td>
     </tr>
     {%endif%}
     {%if s.experience %}
     <tr>
      <th scope="row">Experience</th>
      <td>{{s.experience}}</td>
     </tr>
     {%endif%}
     {%if s.contact%}
     <tr>
      <th scope="row">Contact information</th>
      <td>{{s.contact}}</td>
     </tr>
     {%endif%}
  </tbody>
</table>
{%endfor%}

{%endblock%}
