{%extends "base/base.html" %}

{%block title%}The world's most advanced open source database{%endblock%}

{%block meta%}
  <meta name="description" content="The official site for PostgreSQL, the world's most advanced open source database" />
{%endblock%}

{%block layoutblock%}
<div class="jumbotron jumbotron-fluid pg-jumbotron">
  <div class="container">
    <h1 class="text-white pg-jumbotron-header">PostgreSQL: The World's Most Advanced open source relational database</h1>
    <div class="row">
      <div class="col text-center">
        <a class="btn btn-light btn-rounded" role="button" href="/download/">Download <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        <a class="btn btn-light btn-rounded" role="button" href="/about/">New to PostgreSQL?</a>
      </div>
    </div>
  </div>
</div>
<!-- END Jumbotron -->
<!-- Start First Feature Row -->

<div class="row">
	<!-- Feature -->
	<div class="col-lg-3">
		<a href="#" class="image featured"><img src="images/Postgresql_elephant.svg" alt="" /></a>
		<h3>About PostgreSQL</h3>
	  <p>
		  PostgreSQL is a powerful, open source object-relational database system with over 15 years of active development
		  that has earned it a strong reputation for reliability, data integrity, and correctness.
	  </p>
    <a href="{{link_root}}/about" title="Read More"><button type="button" class="btn btn-center btn-primary">Read More</button></a>
	</div>
	<!-- END Feature -->

	<!-- Feature -->
	<div class="col-lg-3">
    <a href="#" class="image featured image-section"><i class="fa fa-cloud-download"></i></a>
    <h3>Latest Releases</h3>
    <div>9.4.4 · June 12, 2015 · Notes</div>
    <div class="pg-bg-gray">9.3.9 · June 12, 2015 · Notes</div>
    <div>9.2.13 · June 12, 2015 · Notes</div>
    <div class="pg-bg-gray">9.1.18 · June 12, 2015 · Notes</div>
    <div>9.0.22 · June 12, 2015 · Notes</div>
    <a href="{{link_root}}/download" title="Download"><button type="button" class="btn btn-center btn-primary">Download</button></a>
	</div>
	<!-- END Feature -->

	<!-- Feature -->
	<div class="col-lg-3">
    <a href="#" class="image featured image-section"><i class="fa fa-calendar"></i></a>
    <h3>Upcoming Events</h3>
    <div>8/14/15 · Brighton Meetup Kickoff (Hove, East Sussex, United Kingdom)</div>
    <div class="pg-bg-gray">9/16/15 – 9/18/15 · PostgresOpen (Dallas, TX, United States)</div>
    <div>10/19/15 – 10/23/15 · PgCUBA (La Habana, La Habana, Cuba)</div>
    <a href="{{link_root}}/#" title="Check Schedule"><button type="button" class="btn btn-center btn-primary">Check Schedule</button></a>
	</div>
	<!-- END Feature -->

	<!-- Feature -->
	<div class="col-lg-3">
    <a href="#" class="image featured image-section"><i class="fa fa-question-circle"></i></a>
    <h3>Wiki</h3>
    <p>
      The wiki contains user documentation, how-tos, and tips 'n' tricks related to PostgreSQL.
    	It also serves as a collaboration area for PostgreSQL contributors.
    </p>
    <a href="{{link_root}}/#" title="Wiki"><button type="button" class="btn btn-center btn-primary">Wiki</button></a>
	</div>
</div>
<!-- END First Feature Row -->
<!-- Second Feature Row -->
<div class="row">
	<!-- Feature -->
	<div class="col-lg-3">
    <a href="#" class="image featured image-section"><i class="fa fa-bug"></i></a>
    <h3>Report a Bug</h3>
    <p>
      Please ensure you have read the bug reporting guidelines before reporting
    	a bug. In particular, please re-read the documentation to verify that what
    	you are trying is possible.
    </p>
    <a href="{{link_root}}/#" title="Submit a Report"><button type="button" class="btn btn-center btn-primary">Submit a Report</button></a>
	</div>
	<!-- END Feature -->

	<!-- Feature -->
	<div class="col-lg-3">
    <a href="#" class="image featured image-section"><i class="fa fa-envelope"></i></a>
    <h3>Mailing Lists</h3>
    <p>
    	Follow the link below to fill out the form for subscribing to one of our many mailing lists
    	as well as view our full list of mailing lists!
    </p>
    <a href="{{link_root}}/#" title="Subscribe"><button type="button" class="btn btn-center btn-primary">Subscribe</button></a>
	</div>
	<!-- END Feature -->

	<!-- Feature -->
  <div class="col-lg-3">
    <a href="#" class="image featured image-section"><i class="fa fa-lock"></i></a>
    <h3>Security</h3>
    <p>
      The PostgreSQL Global Development Group (PGDG) takes security seriously, allowing
    	our users to place their trust in the web sites and applications built around PostgreSQL.
    </p>
    <a href="{{link_root}}/#" title="Read More"><button type="button" class="btn btn-center btn-primary">Read More</button></a>
  </div>
	<!-- END Feature -->

	<!-- Feature -->
	<div class="col-lg-3">
    <a href="#" class="image featured image-section"><i class="fa fa-money"></i></a>
    <h3>Donate</h3>
    <p>
      PostgreSQL is free. Please support our work by making a donation.
    </p>
    <a href="{{link_root}}/#" title="Donate"><button type="button" class="btn btn-center btn-primary">Donate</button></a>
	</div>
	<!-- END Feature -->
</div>
<!-- END Second Feature Row -->
<!-- News -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 pg-bg-purple pg-text-light-blue pgFrontContainer">
      <a href="/about/newsarchive/">
        <h1 class="pg-text-light-blue">Latest News</h1>
      </a>
      {% for n in news %}
        <p>{{n.displaydate}}: <a href="/about/news/{{n.id}}/">{{n.title}} <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
      {% endfor %}
      <p>
        <a href="/about/newsarchive" title="More News">More</a> | <a href="/account/news/new/">Submit News</a> | <a href="/news.rss" title="News RSS Feed">RSS Feed</a>
      </p>
    </div>
    <div class="col-lg-9 bg-white pgFrontFeature pgFrontContainer">
      <h1>PostgreSQL 10.1 Released!</h1>
      <p><b>9<sup>th</sup> November 2017</b></p>
      <p>The PostgreSQL Global Development Group has released an update to all supported versions of our database system, including 10.1, 9.6.6, 9.5.10, 9.4.15, 9.3.20, and 9.2.24.</p>
      <p>This release fixes three security issues. This release also fixes issues found in BRIN indexing, logical replication and other bugs reported over the past three months. All users using the affected versions of PostgreSQL should update as soon as possible.</p>
      <ul>
        <li><a href="/about/news/1749/" title="Release Announcement">Release Announcement</a></li>
        <li><a href="/docs/10/static/release-10.html" title="Release Notes">Release Notes</a></li>
        <li><a href="/download/" title="Download">Download</a></li>
      </ul>
    </div>
  </div>
  <!-- Planet PostgreSQL -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-white">Latest Blog Posts</h2>
      <div class="planetPostgresqlGlobe"><i class="fa fa-globe"></i></div>
    </div>
  </div>

  <div id="pgFrontUSSContainer">
    <div id="pgFrontUser">
      <div id="pgFrontUserInner">
        <div id="pgFrontUserWrap">
          <h2><img src="/media/img/hdr/hdr_featureduser.png" width="104" height="10" alt="Featured User" /></h2>
          <div id="pgFrontUserContent">
            <div id="txtFrontUserText">{{quote.quote}}</div>
            <div id="txtFrontUserName"><b>{{quote.who}}, <a href="{{quote.link}}">{{quote.org}}</a></b></div>
            <div id="txtFrontUserLink">
                <img src="/media/img/layout/blt_blu_arrow.png" width="6" height="5" alt="" /><a href="/about/casestudies">Case Studies</a><span class="txtDivider">|</span>
            </div>
          </div>
        </div> <!-- pgFrontUserWrap -->
      </div>
    </div>

    <div id="pgFrontRightContainer">
      <div id="pgFrontLatestReleases">
        <h2><img src="/media/img/hdr/hdr_latestreleases.png" width="120" height="10" alt="Latest Releases" /></h2>
        <div id="pgFrontLatestReleasesWrap">
         {%for v in versions %}
         <b>{{v.numtree}}.{{v.latestminor}}</b> &middot; {{v.reldate}} &middot; <a href="/docs/{{v.numtree}}/static/{{v.relnotes}}">Notes</a>
         <br />
         {%endfor%}
        </div>
  <div id="pgFrontLatestReleasesNote"><b><a href="/download">Download</a></b> | <a href="/versions.rss" title="Versions RSS Feed"><img class="pgRSSImage" src="/media/img/misc/ico_rss.png" width="28" height="13" alt="Versions RSS Feed" /></a><br /><a href="/support/versioning">Why should I upgrade?</a><br/><a href="/developer/roadmap/">Upcoming releases</a></div>
      </div> <!-- pgFrontLatestreleases -->
      <div id="pgFrontShortcuts">
        <h2><img src="/media/img/hdr/hdr_shortcuts.png" width="85" height="10" alt="Shortcuts" /></h2>
        <div id="pgFrontShortcutsWrap">
          <ul id="pgFrontShortcutsList">
            <li>
              <a href="/support/security/">Security</a>
            </li>
            <li>
              <a href="/community/international">International Sites</a>
            </li>
            <li>
              <a href="/community/lists">Mailing Lists</a>
            </li>
            <li>
              <a href="https://wiki.postgresql.org/">Wiki</a>
            </li>
            <li>
              <a href="/account/submitbug">Report a Bug</a>
            </li>
            <li>
              <a href="/docs/faq/">FAQs</a>
            </li>
          </ul>
        </div>
      </div> <!-- pgFrontShortcuts -->
      <div id="pgFrontSupportUs">
        <h2><img src="/media/img/hdr/hdr_supportus.png" width="81" height="10" alt="Support Us" /></h2>
        <div id="pgFrontSupportUsWrap">
          <div id="txtFrontSupportUsText">
            PostgreSQL is free. Please support our work by making a <a href="/about/donate">donation</a>.
          </div>
        </div>
      </div> <!-- pgFrontSupportUs -->
    </div> <!-- pgFrontRightContainer -->
    <div id="pgFrontBottomContainer">
     <div id="pgFrontNews" class="txtNewsEvent">
       <a href="/about/newsarchive">
       <img src="/media/img/hdr/hdr_latestnews.png" width="90" height="10" alt="Latest News" />
       </a>
       <div class="pgNewsEventsWrap">
         {% for n in news %}
         <p>
          <span class="txtDate">{{n.displaydate}}</span> <br/>
          <a href="/about/news/{{n.id}}/">{{n.title}}</a>
         </p>
         {% endfor %}
         <div>
           <img class="pgArrowImage" src="/media/img/layout/blt_blu_arrow.png" width="6" height="5" alt="" />
           <ul class="pgRSSBottomList">
             <li>
               <a href="/about/newsarchive" title="More News">More</a>
             </li>
             <li>
              <a href="/account/news/new/">Submit News</a>
             </li>
             <li class="last-child">
               <a href="/news.rss" title="News RSS Feed"><img class="pgRSSImage" src="/media/img/misc/ico_rss.png" width="28" height="13" alt="News RSS Feed" /></a>
             </li>
           </ul>
         </div>
       </div>
     </div> <!-- pgFrontNews -->
     </div> <!-- pgFrontPlanet -->
     <div id="pgFrontEvents" class="txtNewsEvent">
     {% if community_events %}
       <h3 class="txtHomeHeader">
         &gt;&nbsp;
         <a href="/about/events/">Community Events</a>
       </h3>
       <div class="pgNewsEventsWrap">
       {% for e in community_events %}
        <p>
         <span class="txtDate">{{e.displaydate|safe}}</span><br />
         <a href="/about/event/{{e.id}}/">{{e.title}}</a><br/> ({{e.locationstring}})
        </p>
       {% endfor %}
       </div>
      {% endif %}
      <h3 class="txtHomeHeader">
        &gt;&nbsp;
        <a href="/about/events/">{% if community_events %}Other {% endif %}Events</a>
      </h3>
      <div class="pgNewsEventsWrap">
      {% for e in other_events %}
       <p>
        <span class="txtDate">{{e.displaydate|safe}}</span><br />
        <a href="/about/event/{{e.id}}/">{{e.title}}</a><br/> ({{e.locationstring}})
       </p>
      {% endfor %}
       </div>
       <div style="margin-bottom: 10px;">
         <img class="pgArrowImage" src="/media/img/layout/blt_blu_arrow.png" width="6" height="5" alt="" />
         <ul class="pgRSSBottomList">
           <li>
             <a href="/about/events/" title="More Events">More</a>
           </li>
           <li>
            <a href="/account/events/new/">Submit Event</a>
           </li>
           <li class="last-child">
            <a href="/events.rss" title="Events RSS Feed"><img class="pgRSSImage" src="/media/img/misc/ico_rss.png" width="28" height="13" alt="Events RSS Feed" /></a>
           </li>
         </ul>
       </div>
       <a href="/about/events/">
       <img src="/media/img/hdr/hdr_upcomingtraining.png" width="140" height="10" alt="Upcoming training" />
       </a>
       <div class="pgNewsEventsWrap">
         <div id="pgFrontTrainingSummary">
         {%if traininginfo.id__count %}
          There are {{traininginfo.id__count}} training events in {{traininginfo.country__count}} countries
          scheduled over the next six months from
          {%if trainingcompanies|length_is:"1"%}{{trainingcompanies|first}}.
          {%else%}
           {%if trainingcompanies|length_is:"2"%}{{trainingcompanies|join:" and "}}.
           {%else%}
           {{trainingcompanies|slice:":2"|join:", "}} and others.
           {%endif%}
          {%endif%}
          <p>Take a look at our <a href="/about/events/#Training">schedule</a> to find the training that you want.</p>
         {%else%}
          There are no training events currently scheduled.
         {%endif%}
        </div>
       </div> <!-- pgNewsEventsWrap -->
     </div> <!-- pgFrontEvent -->
     <!-- Blog -->
   <div class="container">
     <section class="box blog">
       <div class="row">
         <div class="col-md-12">
           <h2 class="major no-margin"><span>Latest Blog Posts</span></h2>
           <div class="planetPostgresqlGlobe"><i class="fa fa-globe"></i></div>
         </div>
       </div>
     </div>
       <!-- First Row Planet PostgreSQL -->
     <div class="container">
       <div class="row">
         <!-- First Column First Row Planet PostgreSQL -->
         <div class="col-md-3">
           <div class="text-center">
             <article class="box post-centered">
               <h3><a href="#">Connecting to SQL Server from Linux using FDWs</a></h3>
               <ul class="meta">
                 <li class="icon fa-comments"><a href="#">Leo Hsu, Regina Obe</a></li>
                 <li class="icon fa-clock-o">2015-09-27</li>
               </ul>
             </article>
           </div>
         </div>
         <!-- END First Column First Row Planet PostgreSQL -->
         <!-- Second Column First Row Planet PostgreSQL-->
         <div class="col-md-3">
           <div class="text-center">
             <article class="box post-centered">
               <h3><a href="#">South Bay, East Bay PUGs scheduled</a></h3>
               <ul class="meta">
                 <li class="icon fa-comments"><a href="#">Josh Berkus</a></li>
                 <li class="icon fa-clock-o">2015-09-26</li>
               </ul>
             </article>
           </div>
         </div>
         <!-- END Second Column First Row Planet PostgreSQL -->
         <!-- Third Column First Row Planet PostgreSQL -->
         <div class="col-md-3">
           <div class="text-center">
             <article class="box post-centered">
               <h3><a href="#">PG Phriday: Database Infrastructure</a></h3>
               <ul class="meta">
                 <li class="icon fa-comments"><a href="#">Shaun M. Thomas</a></li>
                 <li class="icon fa-clock-o">2015-09-25</li>
               </ul>
             </article>
           </div>
         </div>
         <!-- END Third Column First Row Planet PostgreSQL -->
         <!-- Last Column First Row Planet PostgreSQL -->
         <div class="col-md-3">
           <div class="text-center">
             <article class="box post-centered">
               <h3><a href="#">Modern SQL: Inaugural Post</a></h3>
               <ul class="meta">
                 <li class="icon fa-comments"><a href="#">Markus Winand</a></li>
                 <li class="icon fa-clock-o">2015-09-25</li>
               </ul>
             </article>
           </div>
         </div>
         <!-- END Last Column First Row Planet PostgreSQL -->
       </div>
       <!-- END First Row Planet PostgreSQL -->
     </div>
     <div class="container">
       <div class="row">
         <div class="col-sm-12">
           <a href="{{link_root}}/about" title="About"><button type="button" class="btn btn-center btn-primary">Browse Archives</button></a>
         </div>
       </div>
     </div>
     </section>
    </div>
  </div>
</div> <!-- pgFrontBottomContainer -->
{%endblock%}
