{%extends "base/base.html" %}

{%block title%}The world's most advanced open source database{%endblock%}

{%block meta%}
  <meta name="description" content="The official site for PostgreSQL, the world's most advanced open source database" />
{%endblock%}

{%block layoutblock%}
<div class="jumbotron jumbotron-fluid pg-jumbotron">
  <div class="container">
    <h1 class="text-white pg-jumbotron-header">PostgreSQL: The World's Most Advanced open source relational database</h1>
    <div class="row">
      <div class="col text-center">
        <a class="btn btn-light btn-rounded" role="button" href="/download/">Download <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        <a class="btn btn-light btn-rounded" role="button" href="/about/">New to PostgreSQL?</a>
      </div>
    </div>
  </div>
</div>
<!-- END Jumbotron -->
<div class="container margin">
  <!-- Start First Feature Row -->

  <div class="row">
  	<!-- Feature -->
  	<div class="col-lg-6 feature">
  		<img src="/media/img/about/press/elephant.png" alt="PostgreSQL Elephant Logo">
  		<h2>New to PostgreSQL?</h2>
      <div class="text">
    	  <p>
    		  PostgreSQL is a powerful, open source object-relational database system with over 15 years of active development
    		  that has earned it a strong reputation for reliability, data integrity, and correctness.
    	  </p>
        <p>
          There is a wealth of information to be found describing how to install, use, and configure PostgreSQL through the official documentation, found
          <a href="{{link_root}}/docs">here</a>.
          Additionally, the PostgreSQL community provides many helpful places to become familiar with the technology, discover how it works, and find
          career opportunities. Reach out to the community <a href="{{link_root}}/community">here</a>.
        </p>
      </div>
      <a href="{{link_root}}/about" title="Read More"><button type="button" class="btn btn-center btn-primary">Read More</button></a>
  	</div>
  	<!-- END Feature -->

  	<!-- Feature -->
  	<div class="col-lg-6 feature">
      <i class="fa fa-cloud-download"></i>
      <h2>Latest Releases</h2>
      <div class="text">
        <p>
          <strong>8th Febrary 2018 - PostgreSQL 10.2 Released!</strong>
          The PostgreSQL Global Development Group has released an update to all supported versions of our database system, including 10.2, 9.6.7, 9.5.11, 9.4.16, and 9.3.21.
        </p>
        <ul>
          <li>9.4.4 · 2018-10-26 · Notes</li>
          <li class="pg-bg-gray">9.3.9 · 2018-09-26 · Notes</li>
          <li>9.2.13 · 2018-09-26 · Notes</li>
          <li class="pg-bg-gray">9.1.18 · 2018-11-26 · Notes</li>
          <li>9.0.22 · 2018-09-26 · Notes</li>
        </ul>
      </div>
      <a href="{{link_root}}/download" title="Download"><button type="button" class="btn btn-center btn-primary">Download</button></a>
  	</div>
  	<!-- END Feature -->

  </div>
  <!-- END First Feature Row -->
  <!-- Start Second Feature Row -->
  <div class="row">

    <!-- Feature -->
    <div class="col-lg-6 feature">
      <i class="fa fa-calendar"></i>
      <h2>Upcoming Events</h2>
      <div class="text">
        <ul>
          <li>2015-09-26 · Brighton Meetup Kickoff (Hove, East Sussex, United Kingdom)</li>
          <li class="pg-bg-gray">2015-09-26 – 2015-09-27 · PostgresOpen (Dallas, TX, United States)</li>
          <li>2015-09-26 – 2015-09-27 · PgCUBA (La Habana, La Habana, Cuba)</li>
          <li class="pg-bg-gray">2015-09-26 – 2015-09-27 · PostgresOpen (Dallas, TX, United States)</li>
          <li>2015-09-26 – 2015-09-27 · PgCUBA (La Habana, La Habana, Cuba)</li>
          <li class="pg-bg-gray">2015-09-26 – 2015-09-27 · PostgresOpen (Dallas, TX, United States)</li>
          <li>2015-09-26 – 2015-09-27 · Brighton Meetup Kickoff (Hove, East Sussex, United Kingdom)</li>
        </ul>
      </div>
      <a href="{{link_root}}/#" title="Check Schedule"><button type="button" class="btn btn-center btn-primary">Check Schedule</button></a>
    </div>
    <!-- END Feature -->

    <!-- Feature -->
    <div class="col-lg-6 feature">
      <i class="fa fa-envelope"></i>
      <h2>Mailing Lists</h2>
      <div class="text">
        <p>
          Follow the link below to view a detailed description of each available mailing list offered and to fill out the form and
          subscribe to the mailing list of your choice.
        </p>
        <p>
          Short description here describing why you would want to join the mailing list. To be filled in later. Blah blah lorem ipsum
          ecetera.
        </p>
      </div>
      <a href="{{link_root}}/#" title="Subscribe"><button type="button" class="btn btn-center btn-primary">Subscribe</button></a>
    </div>
    <!-- END Feature -->
  </div>
  <!-- END Second Feature Row -->
</div>
<!-- CTA -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 cta cta-3"></div>
    <div class="col-lg-6 cta-text">
      <h2>I'm also a CTA!</h2>
      <p>
        And I should be switched out for different content.
      </p>
      <a href="{{link_root}}/account/submitbug" title="Submit a Bug"><button type="button" class="btn btn-light btn-rounded">Submit a Bug</button></a>
    </div>
  </div>
</div>
<!-- END CTA -->
<!-- News -->
<div class="container">
  <div class="row">
		<div class="col-lg-7">
			<h2>Latest News</h2>
			<!-- Featured Post -->
				<header>
					<h3><a href="#">PostgreSQL 9.5 Alpha 1 Released!</a></h3>
					<ul class="meta">
						<li class="far fa-clock">2nd July 2015</li>
						<li class="far fa-comments"><a href="#">0</a></li>
					</ul>
				</header>
        <img class="image" src="/media/img/misc/pic05.jpg">
				<p>
					The PostgreSQL Global Development Group is pleased to announce the availability of PostgreSQL 9.5 Alpha 1!</br>
					This release contains previews of all of the features which will be available in the final release of version 9.5,
					although some details will change before then. Please <a href="download.html">download</a>, test, and report what you find.
				</p>
        <a href="{{link_root}}/" title="Latest Release"><button type="button" class="btn btn-primary">Latest Release</button></a>
        <a href="{{link_root}}/" title="Archives"><button type="button" class="btn btn-primary">Browse Archives</button></a>
		</div>
		<div class="col-lg-5">
			<div class="sidebar">

				<!-- Archives -->
				<ul class="divided">
					<li>
						<h3><a href="#">New ODBC Driver for PostgreSQL</a></h3>
						<ul class="meta">
							<li class="far fa-clock">6 hours ago</li>
							<li class="far fa-comments"><a href="#">34</a></li>
						</ul>
					</li>
					<li>
						<h3><a href="#">pgBadger 7.1 is Out</a></h3>
						<ul class="meta">
							<li class="far fa-clock">9 hours ago</li>
							<li class="far fa-comments"><a href="#">27</a></li>
						</ul>
					</li>
					<li>
						<h3><a href="#">Open-Source Streaming-SQL Database PipelineDB Now Available</a></h3>
						<ul class="meta">
							<li class="far fa-clock">Yesterday</li>
							<li class="far fa-comments"><a href="#">184</a></li>
						</ul>
					</li>
					<li>
						<h3><a href="#">PostgreSQL 9.5 Alpha 1 Released</a></h3>
						<ul class="meta">
							<li class="far fa-clock">2 days ago</li>
							<li class="far fa-comments"><a href="#">286</a></li>
						</ul>
					</li>
					<li>
						<h3><a href="#">Database .NET v16 Released</a></h3>
						<ul class="meta">
							<li class="far fa-clock">3 days ago</li>
							<li class="far fa-comments"><a href="#">8,086</a></li>
						</ul>
					</li>
          <li>
            <h3><a href="#">Database .NET v16 Released</a></h3>
            <ul class="meta">
              <li class="far fa-clock">3 days ago</li>
              <li class="far fa-comments"><a href="#">8,086</a></li>
            </ul>
          </li>
				</ul>
				<!-- END Archives -->

			</div>
		</div>
  </div>
</div>
<!-- Blog -->
 <div class="container margin">
   <div class="row">
     <div class="col-md-12">
       <h2>Latest Blog Posts</h2>
       <div class="planetPostgresqlGlobe"><i class="fa fa-globe"></i></div>
     </div>
   </div>
   <!-- First Row Planet PostgreSQL -->
   <div class="row">
     <!-- First Column First Row Planet PostgreSQL -->
     <div class="col-md-4">
       <div class="text-center">
         <h3><a href="#">Connecting to SQL Server from Linux using FDWs</a></h3>
         <ul class="meta">
           <li class="far fa-comments"><a href="#">Leo Hsu, Regina Obe</a></li>
           <li class="far fa-clock">2015-09-27</li>
         </ul>
       </div>
     </div>
     <!-- END First Column First Row Planet PostgreSQL -->
     <!-- Second Column First Row Planet PostgreSQL-->
     <div class="col-md-4">
       <div class="text-center">
         <h3><a href="#">South Bay, East Bay PUGs scheduled</a></h3>
         <ul class="meta">
           <li class="far fa-comments"><a href="#">Josh Berkus</a></li>
           <li class="far fa-clock">2015-09-26</li>
         </ul>
       </div>
     </div>
     <!-- END Second Column First Row Planet PostgreSQL -->
     <!-- Third Column First Row Planet PostgreSQL -->
     <div class="col-md-4">
       <div class="text-center">
         <h3><a href="#">PG Phriday: Database Infrastructure</a></h3>
         <ul class="meta">
           <li class="far fa-comments"><a href="#">Shaun M. Thomas</a></li>
           <li class="far fa-clock">2015-09-25</li>
         </ul>
       </div>
     </div>
     <!-- END Last Column First Row Planet PostgreSQL -->
   </div>
   <!-- END First Row Planet PostgreSQL -->
   <div class="row">
     <div class="col-sm-12">
       <a href="{{link_root}}/about" title="About"><button type="button" class="btn btn-center btn-primary">Browse Archives</button></a>
     </div>
   </div>
 </div>
 <!-- CTA -->
 <div class="container-fluid">
   <div class="row">
     <div class="col-lg-6 cta-text">
       <h2>Seeing unexpected behavior?</h2>
       <p>
         Let us know. We're here to help.
       </p>
       <a href="{{link_root}}/account/submitbug" title="Submit a Bug"><button type="button" class="btn btn-light btn-rounded">Submit a Bug</button></a>
     </div>
     <div class="col-lg-6 cta cta-2"></div>
   </div>
 </div>
 <!-- END CTA -->

{%endblock%}
