{%extends "base/base.html" %}

{%block title%}The world's most advanced open source database{%endblock%}

{%block meta%}
  <meta name="description" content="The official site for PostgreSQL, the world's most advanced open source database" />
{%endblock%}

{%block layoutblock%}
<div class="jumbotron jumbotron-fluid pg-jumbotron">
  <div class="container">
    <h1 class="text-white pg-jumbotron-header">PostgreSQL: The World's Most Advanced open source relational database</h1>
    <div class="row">
      <div class="col text-center">
        <a class="btn btn-light btn-rounded" role="button" href="/download/">Download <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        <a class="btn btn-light btn-rounded" role="button" href="/about/">New to PostgreSQL?</a>
      </div>
    </div>
  </div>
</div>
<!-- END Jumbotron -->
<!-- Start First Feature Row -->

<div class="row">
	<!-- Feature -->
	<div class="col-lg-3 feature">
		<i class="fa fa-heart"></i>
		<h3>About PostgreSQL</h3>
	  <p>
		  PostgreSQL is a powerful, open source object-relational database system with over 15 years of active development
		  that has earned it a strong reputation for reliability, data integrity, and correctness.
	  </p>
    <a href="{{link_root}}/about" title="Read More"><button type="button" class="btn btn-center btn-primary">Read More</button></a>
	</div>
	<!-- END Feature -->

	<!-- Feature -->
	<div class="col-lg-3 feature">
    <i class="fa fa-cloud-download"></i>
    <h3>Latest Releases</h3>
    <ul>
      <li>9.4.4 · June 12, 2015 · Notes</li>
      <li class="pg-bg-gray">9.3.9 · June 12, 2015 · Notes</li>
      <li>9.2.13 · June 12, 2015 · Notes</li>
      <li class="pg-bg-gray">9.1.18 · June 12, 2015 · Notes</li>
      <li>9.0.22 · June 12, 2015 · Notes</li>
    </ul>
    <a href="{{link_root}}/download" title="Download"><button type="button" class="btn btn-center btn-primary">Download</button></a>
	</div>
	<!-- END Feature -->

	<!-- Feature -->
	<div class="col-lg-3 feature">
    <i class="fa fa-calendar"></i>
    <h3>Upcoming Events</h3>
    <ul>
      <li>8/14/15 · Brighton Meetup Kickoff (Hove, East Sussex, United Kingdom)</li>
      <li class="pg-bg-gray">9/16/15 – 9/18/15 · PostgresOpen (Dallas, TX, United States)</li>
      <li>10/19/15 – 10/23/15 · PgCUBA (La Habana, La Habana, Cuba)</li>
    </ul>
    <a href="{{link_root}}/#" title="Check Schedule"><button type="button" class="btn btn-center btn-primary">Check Schedule</button></a>
	</div>
	<!-- END Feature -->

	<!-- Feature -->
	<div class="col-lg-3 feature">
    <i class="fa fa-question-circle"></i>
    <h3>Wiki</h3>
    <p>
      The wiki contains user documentation, how-tos, and tips 'n' tricks related to PostgreSQL.
    	It also serves as a collaboration area for PostgreSQL contributors.
    </p>
    <a href="{{link_root}}/#" title="Wiki"><button type="button" class="btn btn-center btn-primary">Wiki</button></a>
	</div>
</div>
<!-- END First Feature Row -->
<!-- Second Feature Row -->
<div class="row">
	<!-- Feature -->
	<div class="col-lg-3 feature">
    <i class="fa fa-bug"></i>
    <h3>Report a Bug</h3>
    <p>
      Please ensure you have read the bug reporting guidelines before reporting
    	a bug. In particular, please re-read the documentation to verify that what
    	you are trying is possible.
    </p>
    <a href="{{link_root}}/#" title="Submit a Report"><button type="button" class="btn btn-center btn-primary">Submit a Report</button></a>
	</div>
	<!-- END Feature -->

	<!-- Feature -->
	<div class="col-lg-3 feature">
    <i class="fa fa-envelope"></i>
    <h3>Mailing Lists</h3>
    <p>
    	Follow the link below to fill out the form for subscribing to one of our many mailing lists
    	as well as view our full list of mailing lists!
    </p>
    <a href="{{link_root}}/#" title="Subscribe"><button type="button" class="btn btn-center btn-primary">Subscribe</button></a>
	</div>
	<!-- END Feature -->

	<!-- Feature -->
  <div class="col-lg-3 feature">
    <i class="fa fa-lock"></i>
    <h3>Security</h3>
    <p>
      The PostgreSQL Global Development Group (PGDG) takes security seriously, allowing
    	our users to place their trust in the web sites and applications built around PostgreSQL.
    </p>
    <a href="{{link_root}}/#" title="Read More"><button type="button" class="btn btn-center btn-primary">Read More</button></a>
  </div>
	<!-- END Feature -->

	<!-- Feature -->
	<div class="col-lg-3 feature">
    <i class="fa fa-money"></i>
    <h3>Donate</h3>
    <p>
      PostgreSQL is free. Please support our work by making a donation.
    </p>
    <a href="{{link_root}}/#" title="Donate"><button type="button" class="btn btn-center btn-primary">Donate</button></a>
	</div>
	<!-- END Feature -->
</div>
<!-- END Second Feature Row -->
<!-- News -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 pg-bg-purple pg-text-light-blue pgFrontContainer">
      <a href="/about/newsarchive/">
        <h1 class="pg-text-light-blue">Latest News</h1>
      </a>
      {% for n in news %}
        <p>{{n.displaydate}}: <a href="/about/news/{{n.id}}/">{{n.title}} <i class="fa fa-arrow-right" aria-hidden="true"></i></a></p>
      {% endfor %}
      <p>
        <a href="/about/newsarchive" title="More News">More</a> | <a href="/account/news/new/">Submit News</a> | <a href="/news.rss" title="News RSS Feed">RSS Feed</a>
      </p>
    </div>
    <div class="col-lg-9 bg-white pgFrontFeature pgFrontContainer">
      <h1>PostgreSQL 10.1 Released!</h1>
      <p><b>9<sup>th</sup> November 2017</b></p>
      <p>The PostgreSQL Global Development Group has released an update to all supported versions of our database system, including 10.1, 9.6.6, 9.5.10, 9.4.15, 9.3.20, and 9.2.24.</p>
      <p>This release fixes three security issues. This release also fixes issues found in BRIN indexing, logical replication and other bugs reported over the past three months. All users using the affected versions of PostgreSQL should update as soon as possible.</p>
      <ul>
        <li><a href="/about/news/1749/" title="Release Announcement">Release Announcement</a></li>
        <li><a href="/docs/10/static/release-10.html" title="Release Notes">Release Notes</a></li>
        <li><a href="/download/" title="Download">Download</a></li>
      </ul>
    </div>
  </div>
     <!-- Blog -->
   <div class="container">
     <section class="box blog">
       <div class="row">
         <div class="col-md-12">
           <h2 class="major no-margin"><span>Latest Blog Posts</span></h2>
           <div class="planetPostgresqlGlobe"><i class="fa fa-globe"></i></div>
         </div>
       </div>
     </div>
       <!-- First Row Planet PostgreSQL -->
     <div class="container">
       <div class="row">
         <!-- First Column First Row Planet PostgreSQL -->
         <div class="col-md-3">
           <div class="text-center">
             <article class="box post-centered">
               <h3><a href="#">Connecting to SQL Server from Linux using FDWs</a></h3>
               <ul class="meta">
                 <li class="icon fa-comments"><a href="#">Leo Hsu, Regina Obe</a></li>
                 <li class="icon fa-clock-o">2015-09-27</li>
               </ul>
             </article>
           </div>
         </div>
         <!-- END First Column First Row Planet PostgreSQL -->
         <!-- Second Column First Row Planet PostgreSQL-->
         <div class="col-md-3">
           <div class="text-center">
             <article class="box post-centered">
               <h3><a href="#">South Bay, East Bay PUGs scheduled</a></h3>
               <ul class="meta">
                 <li class="icon fa-comments"><a href="#">Josh Berkus</a></li>
                 <li class="icon fa-clock-o">2015-09-26</li>
               </ul>
             </article>
           </div>
         </div>
         <!-- END Second Column First Row Planet PostgreSQL -->
         <!-- Third Column First Row Planet PostgreSQL -->
         <div class="col-md-3">
           <div class="text-center">
             <article class="box post-centered">
               <h3><a href="#">PG Phriday: Database Infrastructure</a></h3>
               <ul class="meta">
                 <li class="icon fa-comments"><a href="#">Shaun M. Thomas</a></li>
                 <li class="icon fa-clock-o">2015-09-25</li>
               </ul>
             </article>
           </div>
         </div>
         <!-- END Third Column First Row Planet PostgreSQL -->
         <!-- Last Column First Row Planet PostgreSQL -->
         <div class="col-md-3">
           <div class="text-center">
             <article class="box post-centered">
               <h3><a href="#">Modern SQL: Inaugural Post</a></h3>
               <ul class="meta">
                 <li class="icon fa-comments"><a href="#">Markus Winand</a></li>
                 <li class="icon fa-clock-o">2015-09-25</li>
               </ul>
             </article>
           </div>
         </div>
         <!-- END Last Column First Row Planet PostgreSQL -->
       </div>
       <!-- END First Row Planet PostgreSQL -->
     </div>
     <div class="container">
       <div class="row">
         <div class="col-sm-12">
           <a href="{{link_root}}/about" title="About"><button type="button" class="btn btn-center btn-primary">Browse Archives</button></a>
         </div>
       </div>
     </div>
     </section>
    </div>
  </div>
</div> <!-- pgFrontBottomContainer -->
{%endblock%}
